<div>
	<form id="contact-form" class="css-form form-horizontal col-md-10 col-md-offset-1">
		<div class="form-group">
			<label class="control-label col-md-2">Name:</label>
			<div class="col-md-10">
				<input class="form-control" type="text" name="name" ng-model="user.name" required />
				<br/>
				<div ng-show="form.$submitted || form.name.$touched">
			      <div ng-show="form.name.$error.required">Tell us your name.</div>
			    </div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">E-mail:</label>
			<div class="col-md-10">
				<input class="form-control" type="text" ng-model="user.email" required />
			</div>
		</div>


		<div class="form-group">
			<label class="control-label col-md-2">Comment:</label>
			<div class="col-md-10">
				<textarea class="form-control col-md-10" rows="6" ng-model="user.comment" required/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-default" ng-click="reset()">Discard</button>
				<button type="submit" class="btn btn-primary" ng-click="update(user)">Send</button>	
			</div>
		</div>
	</form>
</div>