<div id="home" class="row">
	<div class="col-md-12 pull-right">
		<ul class="pagination">
			<li><a href="/{{prev}}">Previous</a></li>
			<li><a href="/{{next}}">Next</a></li>
		</ul>
	</div>
	<div grid-table></div>

	<div class="col-md-4">
		<ui-select ng-model="books.selected" theme="selectize" on-select="updateSelectedBook(books.selected)" ng-disabled="disabled" style="width: 345px;">
			<ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.bookName}}</ui-select-match>
				<ui-select-choices repeat="book in books | filter: $select.search">
				<span ng-bind-html="book.bookName | highlight: $select.search"></span>
			</ui-select-choices>
		</ui-select>

	<div id="chapter-picker" class="col-md-12">
	<ul>
		<li ng-repeat="item in chapters() track by $index" ng-click="updateSelectedChapter($index + 1)" class="col-md-2 verse btn btn-default">
			<a href="">{{$index + 1}}</a>
		</li>
	</ul>
	<div>
	</div>
</div>